<div class="card" style="width: 18rem;">
  {{!-- <img src="..." class="card-img-top" alt="..."> --}}
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">Description: {{description}} {{enableDiscardCards}}</p>
  </div>
  <div class="card-body">
    <button class="btn btn-primary useCard" id="useCard" data-action_effect="{{actionEffect}}" data-card_id="{{id}}">Use Card</button>
    {{!-- if drawn cards are not at 1 --}}
    {{#if enableDiscardCards}}
    <button class="btn btn-primary discardCard" id="discardCard" data-card_id="{{id}}">Discard Card</button>
    {{/if}}
    {{!-- if max drawn cards is not at limit --}}
    {{#unless enableDrawCards}}
    <button class="btn btn-primary" id="chooseAnother">Draw Another Card</button>
    {{/unless}}
  </div>
</div>